.fancyhalf,.fancy{
	box-shadow: 8px 8px 4px 4px rgb(0 0 0 / 10%);
	border-radius: 4px 4px 0px 0px;
	outline: 1px solid #CA93F4;
	outline-offset: 2px;
	background: #f3f7ff38;
	margin: 4px;
	padding-bottom: 0px;
	padding-bottom: 2px;
	width: 48%;
	float: left;
	display: block;
	line-height: 80%;
}

.fancy {
	width: 100%;
}

textarea {
	resize: none;
	background: #9059ff54;
	color: #FFFFFF;
	width: 80%;
	font-size: 18px;
	line-height: 16px;
	margin: 2px;
	padding: 0px;
	border: 0px;
}

.emoji {
	color: #c397e9;
	font-size: 12px;
}

.banner {
	box-shadow: none;
	width: 40%;
	-webkit-animation-name: wiggle;	
	-webkit-animation-duration: 2000ms;
	-webkit-animation-iteration-count: infinite;	
	-webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(4deg);}
  50% {-webkit-transform: rotate(-4deg);}
  100% {-webkit-transform: rotate(4deg);}
}

a {
	color:#FFFFFF;
	display: contents; 
}

#days {
	margin: 0%;
	margin-bottom: 0px;
	width:100%;
	text-align:right;
}

p {
	margin:0px;
}
h1 {
	margin:0px;
}

h2 {
	display:inline;
	margin: 0px;
}

h3 {
	margin: 2px;
}

.title h3 {
}
.xkcd_img {
	display: block;
	padding: 1%;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 0px 0px 0px 0px rgb(0 0 0 0);
	width: auto;
	max-width: 40%;
}

.title {
	text-shadow: 0px 0px 0 #7A7A7A;
	border-radius: 4px 4px 0px 0px;
	background: #9059ff94;
	margin: 0px;
	padding: 2px;	
	height:1%;
	width: auto;
	text-align: center;	
	display: flex;	
	justify-content: space-between;
	margin-bottom: 2px;
}

img {
	width: 50%;
	height: auto;
	padding: 2%;
	max-width: 100%;
}

button {
	cursor:pointer;
	text-shadow: 0px 0px 0 #7A7A7A;
	color: #FFFFFF;
	padding: 2px;
	margin: 2px;
	border-radius: 2px;
	
	font-size: 14px;
	line-height: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	border: 4px solid #a080e1;	
	background: #a080e1;
	
}

button:hover {
	background: #DAD4FF;
	border: 4px solid #DAD4FF;
	color: #000000;
}

html {
    min-height: 100%;
}

#glider {
	width:20px;
	padding:0px;
}

body {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	letter-spacing: -0.8px;
	word-spacing: 2px;
	color: #FFFFFF;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;	
	text-shadow: 2px 2px 0 #7A7A7A;
	background-image: url("heart.png"), linear-gradient(9deg, #F3B0DC -80%, #C83FA9 100%);
	background-repeat: repeat,no-repeat;
	background-size: 10%, 100%;
	text-underline-offset: 15%;
}
