<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{TITLE}</title>
<link rel="stylesheet" type="text/css" href="static/{STYLESHEET}.css?ver={VERSION}">
<script src="static/script.js"></script>
</head>
<body id="body">
	<img src="static/{BANNER}" class="banner"></img>
	<h3 style="text-align: right" id="days">{DAYS}</h3>

	<div class="fancy">
		<div class="title">
			<h3 class="emoji">{EMOJIS}</h3>
			<h3><< main menu >></h3>
			<h3 class="emoji">{EMOJIS}</h3>
		</div>
		<a href="../adarkroom/index.html"><button>play adarkroom</button></a>
	
	</div>
	{BODY}
</body>
<p>made by ash - version {VERSION}</p>
</html>
