<div class="fancy">
	<div class="title">
		<h3 class="emoji">{EMOJIS}</h3>
		<h3><< main menu >></h3>
		<h3 class="emoji">{EMOJIS}</h3>
	</div>
	<a href="../adarkroom/index.html"><button>"play adarkroom"</button></a>
</div>

<div class="fancyhalf">
	<div class="title">
		<h3 class="emoji">{EMOJIS}</h3>
		<h3><< globe >></h3>
		<h3 class="emoji">{EMOJIS}</h3>
	</div>
	<script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5vhv42lch9l&amp;m=0c&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=1&amp;hi=90&amp;hc=dd54eb&amp;cw=d9add9&amp;cb=dd54eb" async="async"></script>
</div>

<div class="fancyhalf">
	<div class="title">
		<h3 class="emoji">{EMOJIS}</h3>
		<h3><< meow translator >></h3>
		<h3 class="emoji">{EMOJIS}</h3>
	</div>
	<textarea type="submit" id="meow_text" rows=10></textarea>
	<button onClick="meow(true)">encode</button>
	<button onClick="meow(false)">decode</button>			
</div>
<a target="_blank" rel="noopener noreferrer" href="https://github.com/ashykitty"><button>my github <33</button></a>
