<script src="/meow.js" defer></script>
<div class="fancy">
	<div class="title">
		<h3 class="emoji">(EMOJI)</h3>
		<h3><< main menu >></h3>
		<h3 class="emoji">(EMOJI)</h3>
	</div>
	<!--
	<a href="../adarkroom/index.html"><button>a dark room</button></a>
	<a href="../cursedSouls/index.html"><button>cursed souls</button></a>
	<a href="../SpaceHuggers/index.html"><button>space huggers</button></a>
	-->
	<a href="/xkcd/0"><button>xkcd</button></a>
</div>

<div class="fancy">
	<div class="title">
		<h3 class="emoji">(EMOJI)</h3>
		<h3><< meow translator >></h3>
		<h3 class="emoji">(EMOJI)</h3>
	</div>
	<textarea type="submit" id="meow_text" rows=10></textarea>
	<br>
	<button id="meow_btn">meow!!</button>
</div>
<a target="_blank" rel="noopener noreferrer" href="https://github.com/ashykitty"><button>my github <33</button></a>
